<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Song</title> <!-- What shows on bookmarks -->
</head>
<body>
<h1>Add a Song!</h1> <!-- What shows on the actual website -->
<form action='/add_track/' method='post'>
    {% csrf_token %} <!-- Essential for security -->
    <label for="name">Song Name</label>
    <input type="text" required placeholder="EX: God Damn" id="name" name="song_name">
    <p><br></p>
    <label for="artist">Artist</label>
    <input type="text" required placeholder="Machine Gun Kelly" id="artist" name="artist">
    <!-- This will give us a drop-down list!-->
    <p><br></p>
    <label for="genre">Genre Type</label>
    <select name="genre_type" required id="genre">
        <option value="">Select an option</option> <!-- value is the data that gets sent to the server once submitted -->
        <!-- now we have to use ginga syntax (this is how you make a for loop-->
        {% for all_genres in list_of_genres %}
        <option value="{{all_genres.name}}">{{all_genres.name}}</option>
        {% endfor %}
    </select>
    <p><br></p>
    <button type="submit">Post Song</button>

</form>

</body>
</html>