<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Genre</title>
</head>
<body>
<h1>Creating new Genres</h1>


<!-- input allows the client to insert (lol) information -->
<!-- form will group everything! -->
<!--action will direct the form to the specified url -->
<!-- method="POST", allows use to differential between two functions in a page, asking for the webpage is get (original)
 by calling method post, the webpage creates somthing-->
<form action="/genres/create/" method="POST">
    {% csrf_token %} <!-- Essential for security -->
    <label for='name'>Genre name</label>
    <input type="text" placeholder="genre name" required name="name" id="name">
    <p></p>
    <label for="creation">Creation Date</label>
    <input type="date" required name="creation_date" id="creation">
    <p></p>
    <label for="Description">Description</label>
    <textarea placeholder="genre description" name='description' id="Description"> </textarea>
    <!-- need to have th submit button to commit the form, takes everything inside of form and sed it to the server-->
    <button type='submit'> Create Genre </button>
</form>

</body>
</html>